<!DOCTYPE html>
<html>
<head>
  <title>Guestbook v1.1</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Guestbook</a>
      </div>
      <ul class="nav navbar-nav">
        <li <% if controller_name == "posts" %>class="active"<% end %>><a href="/">Posts</a></li>
        <li <% if controller_name == "users" %>class="active"<% end %>><a href="/users">Users</a></li>
      </ul>
      <% if logged_in? %>
        <p class="navbar-text navbar-right">Signed in as @<%= link_to(current_user.github_login, current_user, class: "navbar-link") %></p>
      <% else %>
        <a href="/auth/github" type="button" class="btn btn-default navbar-btn navbar-right">Login with GitHub</a>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
